body{
	margin: 0px;
  padding: 0px;
  background-color:#000000;
}
h2{
  font-size:35px;
	text-shadow:2px 2px 2px #4169E1;;
	color:#FFFAFA;
}

.cabecalho{
  color:white;
  text-align: center;
  font-family: Arial;
  font-size:12px;
  overflow: hidden;
}

.produtos{
  color:white;
  text-align: center;
  font-family: Arial;
  font-size:12px;
}
#paginaInicial{
  text-align: center;
}
.botao{
    text-align: center;
    background-color:white;
    color:black;
    font-size:13px;
    border:hidden;
    border-radius:10px;
    width:30%;
    height:10%;
    padding:6px;
}